---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// My variables
$base-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$base-font-size:   16px;
$large-font-size:  $base-font-size * 1.5;
$small-font-size:  $base-font-size * 0.875;
$tiny-font-size:   $base-font-size * 0.75;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111111;    // dark: #EEEEEE
$background-color: #FDFDFD; // dark: #020202
$brand-color:      #96172E;
//$brand-color:      #007c41;
$code-color:       #EEEEFF;    // dark: #111100

$twitter-color:    #3BA9EE;

//$grey-color:       #808080;
$grey-color:       rgba(0, 0, 0, 0.6); // dark: rgba(255, 255, 255, 0.6)
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

// Picture profile
$profilepic-size:  150px;

// Header
$header-height:		40px;
$page-nav-font:		1.25em;
$header-font-size:	1em;
$header-font-size-small:	12px;

// Footer
$footer-font-size:	$small-font-size;

// Opacities
$hover-opacity: 0.65;

// Marks
$mark-color: white; // dark: black



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
