<div class="publication">
	<div class="publication-title">
		IDEal: Efficient and Precise Alias-aware Dataflow Analysis. Johannes Späth, Karim Ali, and Eric Bodden. ACM SIGPLAN Conference on Object-Oriented Programming, Systems, Languages, and Applications (OOPSLA).
	</div>
	<div class="publication-links">
		<a class="pub-link" href="{{ "/resources/pubs/conf/oopsla/SpaethAB17.pdf" | prepend: site.baseurl }}" target="_blank">
			<img src="{{ "/resources/icons/pdf.png" | prepend: site.baseurl }}" title="PDF" alt="PDF" />
		</a>
		<!--<a class="pub-link" href="{{ "/resources/pubs/conf/ecoop/SpaethDAB16.bib" | prepend: site.baseurl }}">
			<img src="{{ "/resources/icons/bibtex.gif" | prepend: site.baseurl }}" title="BibTeX" alt="BibTeX" />
		</a>
		<a class="pub-link" href="http://dx.doi.org/10.1007/978-3-662-44202-9_3" target="_blank">
			<img src="{{ "/resources/icons/springer.png" | prepend: site.baseurl }}" title="&copy; Springer" alt="&copy; Springer" />
		</a> -->
	</div>
</div>
