<div class="publication">
	<div class="publication-title">
		Karim Ali, Issam Aib, and Raouf Boutaba. P2P-AIS: A P2P Artificial Immune Systems architecture for detecting DDoS flooding attacks, GIIS'09, Hammamet, June 2009.
	</div>
	<div class="publication-links">
		<a class="pub-link" href="{{ "/resources/pubs/conf/giis/AliAB09.pdf" | prepend: site.baseurl }}" target="_blank">
			<img src="{{ "/resources/icons/pdf.png" | prepend: site.baseurl }}" title="PDF" alt="PDF" />
		</a>
		<a class="pub-link" href="{{ "/resources/pubs/conf/giis/AliAB09.bib" | prepend: site.baseurl }}">
			<img src="{{ "/resources/icons/bibtex.gif" | prepend: site.baseurl }}" title="BibTeX" alt="BibTeX" />
		</a>
		<a class="pub-link" href="http://dx.doi.org/10.1109/GIIS.2009.5307053" target="_blank">
			<img src="{{ "/resources/icons/ieee.gif" | prepend: site.baseurl }}" title="&copy; IEEE" alt="&copy; IEEE" />
		</a>
	</div>
</div>