<header class="site-header">
    <nav id="globalheader">
        <div id="uw-wordmark">
            <a href="http://www.tu-darmstadt.de">
                <img src="/resources/images/tud-white.png" alt="Link to the home page for TU Darmstadt" />
            </a>
        </div>
        
        <div id="globalsearch">
            <form action="http://google.com/search" method="get" id="search">
                <input name="q" type="text" id="searchterm" placeholder="Search..." accesskey="s" auto-complete="off" />
                <input name="sitesearch" type="hidden" value="http://karimhamdanali.github.io/" />
            </form>
        </div>
    </nav>
</header>