{% for mapler in include.data %}
<div class="student" name="{{ mapler.id }}">
  <div class="student-pic">
		{% include /functions/getmaplerpic.html mapler=mapler %}
	</div>
	<div class="student-info">
		<p>
      <a href="{{ mapler.website | default: "#" }}" target="_blank">{{ mapler.name }}</a>
      <!-- {{ mapler.name }} -->
      <a href="{{ mapler.thesis }}" target="_blank"><mark>{{ mapler.prog }}</mark></a>
      <!-- {% if mapler.website %}
        <a href="{{ mapler.website }}" target="_blank"><mark>website</mark></a>
      {% endif %} -->
    </p>
    <p>{{ mapler.bio }}</p>
	</div>
</div>
{% endfor %}
