<div id="globalnav">
    <img src="/~karim/resources/images/karim.jpg" alt="Karim Ali" />
    <ul>
        <li>
            <a href="/~karim/">Home</a>
        </li>        
        <li>
            <a href="/~karim/projects/">Projects</a>
        </li>
        <li>
            <a href="/~karim/publications/">Publications</a>
        </li>
        <li>
            <a href="/~karim/courses/">Course Work</a>
        </li>
        <li class="last">
            <a href="/~karim/resources/cv/KarimAli_CV.pdf" target="_blank">Curriculum Vitae</a>
        </li>
    </ul>
</div>