{% for project in include.data %}
<div class="row" name="{{ project.id }}">
  <div class="row-pic">
		{% include /functions/getprojectpic.html project=project %}
	</div>
	<div class="row-info">
    <h4>
      {{ project.name }} <small>({{ project.start }}–{{ project.end | default: "" }})</small>
      {% include /functions/getprojectmembers.html project=project %}
    </h4>
		<p>
      {{ project.description }} {{ project.impact }}
    </p>
    {% if project.papers %}
      <p>
        {% include /functions/getprojectpubs.html project=project %}
      </p>
    {% endif %}
	</div>
</div>
{% endfor %}
