/**
 * Site header
 */
.site-header {
    // border-top: 5px solid $grey-color-dark;
    // border-bottom: 1px solid $grey-color-light;
    // background: $grey-color;
    margin-top: 20px;
    min-height: $header-height;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    //font-size: 26px;
    line-height: $header-height;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }

    > img {
        max-height: $header-height;
        max-width:  $header-height;
        border-radius: 50%;
        margin: 2px;

        @include media-query($on-palm) {
            max-height: $header-height;
            max-width:  $header-height;
            margin:     1px;
        }
    }

    @include media-query($on-palm) {
        line-height: $header-height;
    }
}

.site-nav {
    float: left;
    line-height: $header-height;
    border-top: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;

    .menu-icon {
        display: none;
    }

    .page-link {
        line-height: $base-line-height;
        color: $brand-color;
        font-size: $page-nav-font;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }

        &:hover {
            text-decoration: none;
            opacity: $hover-opacity;
        }
    }

    .page-link-active {
        line-height: $base-line-height;
        color: $brand-color;
        font-size: $page-nav-font;
        opacity: 0.65;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }

        &:hover {
            text-decoration: none;
            opacity: 1.0;
        }
    }

    .trigger {
        vertical-align: middle;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 10px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        line-height: $header-height;

        .menu-icon {
            display: block;
            float: right;
            width: 26px;
            height: 16px;
            line-height: 0;
            padding-top: 6px;
            text-align: center;

            > svg {
                width: 12px;
                height: 10px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            color: $text-color;
            font-size: $base-font-size;
            display: block;
            padding: 5px 10px;
        }

        .page-link-active {
            color: $text-color;
            font-size: $base-font-size;
            display: block;
            padding: 5px 10px;
        }
    }
}

.header-col-wrapper {
    font-size: $header-font-size;
    @extend %clearfix;
}

.header-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    //padding-left: $spacing-unit / 2;
}

.header-col-1 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
    margin-right: $spacing-unit * 1.5;
}

.header-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.header-col-3 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
}

@include media-query($on-palm) {
    .header-col {
      font-size: $header-font-size-small;
    }

    .header-col-1 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }

    .header-col-2 {
        width: -webkit-calc(60% - (#{$spacing-unit} / 2));
        width:         calc(60% - (#{$spacing-unit} / 2));
    }

    .header-col-3 {
        width: -webkit-calc(40% - (#{$spacing-unit} / 2));
        width:         calc(40% - (#{$spacing-unit} / 2));
    }
}

.large-name {
  font-size: $large-font-size;
}


/**
 * Site footer
 */
.site-footer {
    // border-top: 1px solid $grey-color-light;
    padding: 0 0 $spacing-unit 0;
}

.footer-heading {
    font-size: $footer-font-size;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: $footer-font-size;
    //color: $grey-color;
    // margin-left: -$spacing-unit / 2;
    border-top: 1px solid $grey-color-light;
    @extend %clearfix;
}

.footer-col {
    float: left;
    // margin-bottom: $spacing-unit / 2;
    // padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-3 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-2 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0 $spacing-unit / 2 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    color: $brand-color;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}



/**
 * Publication links
 */
.publication {
	margin-bottom: $base-font-size;
}

.publication-title {
	width: 87%;
	display: inline-block;
}

.publication-links {
    float: right;
    .pub-link {
        // Set margin-right for all but the last child
        &:not(:last-child) {
        	margin: 0 0.5em 0 0;
        	padding: 0 0.25em 0 0;
        	border-right: 1px solid $text-color;
        }

        > img {
        	max-width: 16px;
        	max-height: 16px;
        }
    }
}

/**
 * Projects
 */
.img-circle {
  width: 24px;
  opacity: $hover-opacity;
  border-radius: 50%;
}

.img-circle:hover {
  opacity: 1.0;
}


/**
 * Services
 */
.row.service {
  margin-bottom: 0px;
}

.left {
  float: left;
}

.right {
  float: right;
}

/**
 * Row layout
 */
.row {
	margin-bottom: $base-font-size;
}

.row:before, .row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row-pic, .row-info {
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  position: relative;
  float: left;
}

.row-pic {
  > img {
    width: 140px;
    display: inline-block;
    height: auto;
    padding: 4px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5%;
    box-sizing: border-box;
  }

  width: 25%;
  float: left;
}

.row-info {
  width: 75%;
}

mark {
  padding: 0.2em;
  border: 1px solid $brand-color;
  border-radius: 6px;
  background-color: $brand-color;
  color: $mark-color;
  font-size: $small-font-size;

  > a {
      color: $mark-color;
      &:hover {
          color: $mark-color;
      }
  }

  &:hover {
      opacity: $hover-opacity;
  }
}

h3 {
  margin-top: $spacing-unit;
}

h3:first-child {
  margin-top: 0px;
}

h4 small {
  font-size: $small-font-size;
  color: $grey-color-dark;
}

/**
 * Profile picture on home page
 */
.profile-nav {
    // max-height: $profilepic-size;
    // max-width:  $profilepic-size;
    border-radius: 5%;
    padding: 4px;
    width: 100%;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    box-sizing: border-box;
    //margin-left: 2px;
    //margin-bottom: 2px;

    // @include media-query($on-palm) {
    // 	max-height: $profilepic-size * 0.5;
    //     max-width:  $profilepic-size * 0.5;
    //     margin-left: 1px;
    // 	margin-bottom: 1px;
    // }
}
