html {
	background: #f2f2f2;
	font: 12px/18px Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	display: block;
	padding 0;
	margin 0;
}

a {
	color: #96172E;
}

a:link, a:visited, a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header.title {
	font-size: 14px;
	font-weight: bold;
}

article {
	padding-bottom: 10px;
}

article.last {
	padding-bottom: 0;
}

article ul {
	list-style-type: square;
}

article img {
	margin: 0 auto;
	display: block;
}

.sc {
	font-size: 14px;
	font-variant: small-caps;
}

hr {
	border: 0;
	width: 100%;
	height: 1px;
	background-color: black;
}

table {
	margin: 5px 0;
	border-collapse:collapse;
	width: 100%;
	border: 1px solid black;
}

th, td {
	border: 1px solid black;
	padding: 5px;
}

th {
	background-color: #96172E;
	color: #FFFFFF;
	font-weight: bold;
}

table p {
	padding: 0;
	margin: 0;
}

.it {
	font-style:italic;
}

.shrink {
	white-space: nowrap;
}

.expand {
	width: 99%;
}

#globalheader, #main, #globalfooter {
	width: 980px;
	margin: 0 auto;
	padding: 0;
}

#globalheader {
	height: 94px;
	margin: 18px auto 10px auto;
	background: #000000;
	-khtml-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#globalheader #uw-wordmark {
	float: left;
	margin: 6px 0px 0px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#globalheader #uw-wordmark img {
	height: 83px;
}

#globalheader #globalsearch {
	float: right;
	margin: 0;
	padding: 8px;
	width: 106px;
}

#globalheader #globalsearch #search {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	display: block;
	border: 0 none;
	outline: none;
}

#globalheader #globalsearch #searchterm {
	width: 100%;
	height: 19px;
	padding: 2px 6px;
	margin: 0;
	font: 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	background: #ffffff;
	color: #000000;
	-khtml-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	border: 0 none;
	outline: none;
}

#globalfooter {
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color: #808080;
}

#globalfooter #links {
	border: solid #808080;
	border-width: 1px 0;
	padding: 0.5em 0;
}

#globalfooter #links ul {
	list-style: none outside;
	margin: 0;
	padding: 0;
}

#globalfooter #links ul li {
	margin: 0;
	padding: 0;
	display: inline;
}

#globalfooter #links a {
	border-right: 1px solid #808080;
	padding: 0 0.75em 0 0.5em;
}

#globalfooter #links a.last {
	border-right: none;
}

#main {
	overflow: hidden;
	padding-bottom: 35px;
}

#main #globalnav {
	float: left;
	margin: 0 8px 0 0;
	padding: 5px;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
	width: 120px;
	border: 1px solid #ffffff;
	-khtml-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #ffffff;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

#main #globalnav img {
	width: 120px;
	margin-bottom: 10px;
}

#main #globalnav ul {
	list-style: none outside;
	margin: 0;
	padding: 0;
}

#main #globalnav ul li {
	margin: 0 0 0.75em 0;
	padding: 0;
}

#main #globalnav ul li.last {
	margin: 0;
}

#main #primary {
	float: right;
	margin: 0;
	padding: 0;
	width: 840px;
}

#main #primary #title {
	margin: 0;
	padding: 0.5em 0 0.5em 0.5em;
	background-color: #96172E;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	border: 1px solid #96172E;
	background: #96172E;
	-khtml-border-radius: 4px 4px 0 0;
	-ms-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

#main #primary #content {
	margin: 0;
	padding: 1em;
	font-size: 12px;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #ffffff;
	-khtml-border-radius: 0 0 4px 4px;
	-ms-border-radius: 0 0 4px 4px;
	-o-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

#publication {
	overflow: hidden;
	margin: 0;
}

#publication #papertitle {
	float: left;
	margin: 0;
	padding: 5px;
	text-align: left;
	width: 600px;
}

#publication #links {
	margin: 0;
	padding: 5px;
	float: right;
}

#publication #links ul {
	list-style: none outside;
	margin: 0;
	padding: 0;
}

#publication #links ul li {
	margin: 0;
	padding: 0;
	display: inline;
}

#publication #links img {
	margin: 0;
	display: inline;
	border-right: 1px solid #808080;
	padding: 0 0.75em 0 0.5em;
	width: 16px;
	height: 16px;
}

#publication #links img.last {
	border-right: none;
}

#code {
	margin: 5px auto;
	padding: 5px;
	width: 75%;
	background: #96172E;
	color: #FFFFFF;
}

#eqn {
	margin: 5px auto;
	padding: 5px;
	width: 75%;
}