<div class="publication">
	<div class="publication-title">
		Averroes: Whole-Program Analysis without the Whole Program. Karim Ali and Ondřej Lhoták. European Conference on Object-Oriented Programming (ECOOP).
	</div>
	<div class="publication-links">
		<a class="pub-link" href="{{ "/resources/pubs/conf/ecoop/AliL13.pdf" | prepend: site.baseurl }}" target="_blank">
			<img src="{{ "/resources/icons/pdf.png" | prepend: site.baseurl }}" title="PDF" alt="PDF" />
		</a>
		<a class="pub-link" href="{{ "/resources/pubs/conf/ecoop/AliL13.bib" | prepend: site.baseurl }}">
			<img src="{{ "/resources/icons/bibtex.gif" | prepend: site.baseurl }}" title="BibTeX" alt="BibTeX" />
		</a>
		<a class="pub-link" href="http://dx.doi.org/10.1007/978-3-642-39038-8_16" target="_blank">
			<img src="{{ "/resources/icons/springer.png" | prepend: site.baseurl }}" title="&copy; Springer" alt="&copy; Springer" />
		</a>
	</div>
</div>
