<div class="publication">
	<div class="publication-title">
		Karim Ali, Marianna Rapoport, Ondřej Lhoták, Julian Dolby, and Frank Tip. Type-Based Call Graph Construction Algorithms for Scala, TOSEM'15, November 2015.
	</div>
	<div class="publication-links">
		<a class="pub-link" href="{{ "/resources/pubs/journal/tosem/AliRLDT15.pdf" | prepend: site.baseurl }}" target="_blank">
			<img src="{{ "/resources/icons/pdf.png" | prepend: site.baseurl }}" title="PDF" alt="PDF" />
		</a>
		<a class="pub-link" href="{{ "/resources/pubs/journal/tosem/AliRLDT15.bib" | prepend: site.baseurl }}">
			<img src="{{ "/resources/icons/bibtex.gif" | prepend: site.baseurl }}" title="BibTeX" alt="BibTeX" />
		</a>
		<a class="pub-link" href="http://doi.acm.org/10.1145/2824234" target="_blank">
			<img src="{{ "/resources/icons/acm.png" | prepend: site.baseurl }}" title="&copy; ACM" alt="&copy; ACM" />
		</a>
	</div>
</div>