<div class="publication">
	<div class="publication-title">
		Sherif G. Aly, Sarah Nadi, and Karim Hamdan<sup><a href="#fn1" id="ref1">1</a></sup>. A Java-Based Programming Language Support of Location Management in Pervasive Systems, IJCSNS'08, June 2008.
	</div>
	<div class="publication-links">
		<a class="pub-link" href="{{ "/resources/pubs/journal/ijcsns/AlyNH08.pdf" | prepend: site.baseurl }}" target="_blank">
			<img src="{{ "/resources/icons/pdf.png" | prepend: site.baseurl }}" title="PDF" alt="PDF" />
		</a>
		<a class="pub-link" href="{{ "/resources/pubs/journal/ijcsns/AlyNH08.bib" | prepend: site.baseurl }}">
			<img src="{{ "/resources/icons/bibtex.gif" | prepend: site.baseurl }}" title="BibTeX" alt="BibTeX" />
		</a>
		<a class="pub-link" href="http://paper.ijcsns.org/07_book/200806/20080646.pdf" target="_blank">
			<img src="{{ "/resources/icons/ijcsns.jpg" | prepend: site.baseurl }}" title="&copy; IJCSNS" alt="&copy; IJCSNS" />
		</a>
	</div>
</div>