<div class="publication">
	<div class="publication-title">
		The Separate Compilation Assumption, Ph.D. thesis, David R. Cheriton School of Computer Science, University of Waterloo.
	</div>
	<div class="publication-links">
		<a class="pub-link" href="{{ "/resources/pubs/thesis/Ali14.pdf" | prepend: site.baseurl }}" target="_blank">
			<img src="{{ "/resources/icons/pdf.png" | prepend: site.baseurl }}" title="PDF" alt="PDF" />
		</a>
		<a class="pub-link" href="{{ "/resources/pubs/thesis/Ali14.bib" | prepend: site.baseurl }}">
			<img src="{{ "/resources/icons/bibtex.gif" | prepend: site.baseurl }}" title="BibTeX" alt="BibTeX" />
		</a>
		<a class="pub-link" href="http://hdl.handle.net/10012/8835" target="_blank">
			<img src="{{ "/resources/icons/uw.png" | prepend: site.baseurl }}" title="&#64; UW" alt="&#64; UW" />
		</a>
	</div>
</div>
