<div class="publication">
	<div class="publication-title">
		Algorizmi: A configurable virtual testbed to generate datasets for offline evaluation of Intrusion Detection Systems, M.Math thesis, David R. Cheriton School of Computer Science, University of Waterloo.
	</div>
	<div class="publication-links">
		<a class="pub-link" href="{{ "/resources/pubs/thesis/Ali10.pdf" | prepend: site.baseurl }}" target="_blank">
			<img src="{{ "/resources/icons/pdf.png" | prepend: site.baseurl }}" title="PDF" alt="PDF" />
		</a>
		<a class="pub-link" href="{{ "/resources/pubs/thesis/Ali10.bib" | prepend: site.baseurl }}">
			<img src="{{ "/resources/icons/bibtex.gif" | prepend: site.baseurl }}" title="BibTeX" alt="BibTeX" />
		</a>
		<a class="pub-link" href="http://hdl.handle.net/10012/4921" target="_blank">
			<img src="{{ "/resources/icons/uw.png" | prepend: site.baseurl }}" title="&#64; UW" alt="&#64; UW" />
		</a>
	</div>
</div>
